@import "~normalize.css";
@import "~@blueprintjs/core/dist/blueprint.css";
@import "~@blueprintjs/core/dist/variables";

.vt-app {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $pt-app-background-color;
    padding-top: $pt-navbar-height;
}

.vt-app.pt-dark {
    background-color: $pt-dark-app-background-color;
}

.vt-content {
    height: 100%;
    overflow: auto;
}

.vt-viewer {
    margin: auto;
    width: 50%;
}

.vt-trainer {
    //margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vt-trainer-intro {
    p {
        text-align: justify;
        text-justify: distribute;
    }
    font-size: 200%;
    width: 50%;
    min-width: 400px;
}

.vt-trainer-continue {
    float: right;
    clear: right;
}
