[Unit]
Description=voctra daemon
After=network.target

[Service]
Type=forking
PIDFile=/run/voctra.pid
ExecStart=/usr/sbin/voctra -c /etc/voctra/voctra.toml start
ExecStop=/usr/sbin/voctra -c /etc/voctra/voctra.toml stop

[Install]
WantedBy=multi-user.target
